# Ignore everything
*

# Except these files
!.gitignore
!README.md
!track1_day1_value.md
!track2_advanced.md
!admin_guide.md
!img/
!img/**
!samples/
!samples/**


# Exclude heavy Veo GIFs due to GitHub 100MB limit
img/25.gif
img/27.gif
img/29.gif
img/31.gif
